@import "tailwindcss";

/* .modal-enter {
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.3s ease-out;
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
}
.modal-exit {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in;
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.95);
} */


